<!DOCTYPE html>
<html lang="en">
<head>
  <title> SignUp </title>
  <meta charset="UTF-8">

</head>
<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">{{postu.title}}</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="update()">
                        <div class="form-row">
                            <div class="name">description</div>
                            <div class="value">
                                <div class="form-group input-group">
                                    <input class="form-control input--style-5" type="text"  formControlName="description" placeholder={{postu.description}}>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">image</div>
                            <div class="value">
                                <div class="input-group form-group">
                                    <input class="form-control input--style-5" type="file" formControlName="image">

                                </div>
                            </div>
                        </div>

                        <div class="container-login100-form-btn p-t-25">
                            <input class="login100-form-btn" type="submit" value="Confirm" />
                        </div>
                        <div class="container-login100-form-btn p-t-25">
                            <button class="login100-form-btn" (click)="cancel()">
                              Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
