<app-header></app-header>
<app-vertical-menu></app-vertical-menu>

  <!-- Page Content -->
  <div class="container">

      <div class="row">
  
        <!-- Post Content Column -->
        <div class="col-lg-12 ">
  
          <div class="mt-4">
            <!-- Title -->
            <p class="lead2">{{post.title}}</p>
              <!-- Date/Time -->
              <p class="lead pd-l-7"> Posted on {{post.dateCreation | date:'dd/MM/yyyy'}} by 
                  <!-- Author -->
                  <a [routerLink]="['/profile/'+post.user.id_u]">{{post.user.firstName}} {{post.user.lastName}}</a> 
              </p>        
          </div>
        <hr>

         <!-- Likes Dislikes -->
         <app-like-dislike></app-like-dislike>  
         <p class="lead postTitle">{{post.description}}</p>
   
         <!-- Preview Image -->
          <div class="img-fluid rounded" *ngFor="let image of post.images">
            <img  [src]="transform(image)">
    
          </div>
          <!-- Comments-->
          <app-comments></app-comments>
      </div>
  
      </div>
      <!-- /.row -->
  
  </div>
    <!-- /.container -->